<div class="article-blog-section">
	<div class="article-blog-section__decoration article-blog-section__decoration_1">
		<svg><use href="./img/sprite.svg#decoration_7"></use></svg>
	</div>
	<div class="article-blog-section__decoration article-blog-section__decoration_2">
		<svg><use href="./img/sprite.svg#decoration_8"></use></svg>
	</div>
	<div class="container">
		<div class="section-title section-title_no-line">Еще статьи</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div class="article-blog-card">
					<div class="article-blog-card__img">
						<img src="./img/artcile-blog-card.jpg" alt="img" />
						<div class="article-blog-card__date">19.05.2021</div>
					</div>
					<div class="title-3">Какой выбрать тёплый пол. Честный рейтинг</div>
					<a href="#" class="article-blog-card__href">Читать полностью </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div class="article-blog-card">
					<div class="article-blog-card__img">
						<img src="./img/artcile-blog-card.jpg" alt="img" />
						<div class="article-blog-card__date">19.05.2021</div>
					</div>
					<div class="title-3">Какой выбрать тёплый пол. Честный рейтинг</div>
					<a href="#" class="article-blog-card__href">Читать полностью </a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-none">
				<div class="article-blog-card">
					<div class="article-blog-card__img">
						<img src="./img/artcile-blog-card.jpg" alt="img" />
						<div class="article-blog-card__date">19.05.2021</div>
					</div>
					<div class="title-3">Какой выбрать тёплый пол. Честный рейтинг</div>
					<a href="#" class="article-blog-card__href">Читать полностью </a>
				</div>
			</div>
		</div>
	</div>
</div>
