<div class="calculator @@modifier lazy" data-bg="./img/calculator-bg.jpg">
	<div class="container">
		<div class="row middle-lg between-lg between-md between-sm middle-sm middle-md middle-xs">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div class="title-1">Рассчитайте стоимость</div>
				<div class="subtitle-2">
					Если Вы желаете получить смету на электронную почту или же в Viber, понимать какая будет цена на теплый пол в Вашем доме, какому
					производителю отдать предпочтение, как правильно подобрать теплый пол по мощности и как технологически правильно выполнить монтаж
					теплого пола- заполните форму и наши специалисты бесплатно посчитают смету на разный бюджет и отправят ее Вам. Также мы полностью
					ответим все на Ваши вопросы касательно производителя, комплектующих и установке системы. Кроме этого, заполняя форму в
					калькуляторе- Вы гарантированно получите скидку со склада, которая будет зависеть от суммы в Вашей смете. Лучшую цену на рынке
					наши специалисты предоставляют индивидуально по телефону, в случае если Вы готовы покупать товар в ближайшие несколько дней.
					Звоните по указанным сайте телефонам!
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<a href="#" class="btn-primary btn-size-2 btn-red"> Приступить к расчету </a>
			</div>
		</div>
	</div>
</div>
