<div class="callback">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="title-1">Звоните или оставьте онлайн-заявку через форму на сайте.</div>
				<div class="subtitle-1">Мы свяжемся с Вами в самое ближайшее время!</div>
			</div>
			<div class="col-lg-4">
				<form action="" class="callback__form">
					<div class="input"><input type="text" /></div>
					<button type="submit" class="btn-primary btn-size-1 btn-red"></button>
				</form>
			</div>
		</div>
	</div>
</div>
