<table class="characteristic-table">
	<tr>
		<th>Название</th>
		<th>Длина (м)</th>
		<th>Мощность</th>
		<th>Цена</th>
	</tr>

	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
	<tr>
		<td>Woks 54 456</td>
		<td>7,5</td>
		<td>75</td>
		<td>1 050 грн</td>
	</tr>
</table>
