<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 first-lg	">
				<a href="#" class="logo">
	<svg><use href="./img/sprite.svg#logo"></use></svg>
	<span>Основа Тепло</span>
</a>

				<div class="footer__title footer__title_top-margin">Навигация</div>
				<ul class="footer-navigation">
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">
							Нагревательный кабель
						</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">Нагревательные маты</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">
							Инфракрасный теплый пол
						</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">Системы снеготаяния</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">
							Терморегуляторы для теплого пола
						</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">Сотрудничество</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">Доставка и оплата</a>
					</li>
					<li class="footer-navigation__item">
						<a href="#" class="footer-navigation__link">Блог</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 last-sm last-md">
				<div class="footer__wrapper footer__wrapper_padding">
					<div class="footer__title">Производители теплого пола</div>
					<div class="footer__row">
						<ul class="footer-navigation">
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Hemstedt</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Nexans</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Fenix</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Devi</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Gray Hot</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">In-therm</a>
							</li>
						</ul>
						<ul class="footer-navigation">
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Profitherm</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Woks </a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Veria</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Profitherm/Eko</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Hi heat</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Int-therm Eco</a>
							</li>
					
						</ul>
						<ul class="footer-navigation">
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Extherm</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Magnum</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Easy Therm</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Shtoller</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Korea Heating</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Enerpia</a>
							</li>
							<li class="footer-navigation__item">
								<a href="#" class="footer-navigation__link">Аквасторож</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 last-lg first-md first-sm first-xs " >
				<div class="footer__wrapper footer__wrapper_contacts">
					<div class="footer__title">Контакты</div>
					<div class="footer__contacts-text">г. Киев, ул. Радищева 12/26</div>
					<div class="footer__contacts-text">г. Харьков, просп. Московский 247</div>
					<a href="#" class="footer__contacts-href">+38 066 909 0056</a>
					<a href="#" class="footer__contacts-href">+38 068 909 0056</a>
					<a href="#" class="footer__contacts-href">
						info@osnova-teplo.com.ua
					</a>
					<div class="social social_black">
						<a href="#" class="social__item">
							<img src="./img/facebook.svg" alt="" />
						</a>
						<a href="#" class="social__item">
							<img src="./img/instagram.svg" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="footer__bottom">
	<div class="container">
		<div class="footer__copyright">
			Copyright © 2021 Основа тепло. Все права защищены
		</div>
		<div class="footer__dev">
			<div class="footer__dev-caption">Разработка сайта</div>
			<div class="footer__dev-logo">
				<img src="./img/logodev.svg" alt="img" />
			</div>
		</div>
	</div>
</div>
<script src="./js/app.min.js"></script>
</body>
</html>
