<div class="header__notice">
	Внимание! Мы предоставляем специальные условия и скидки для электриков, строителей, прорабов, архитекторов, дизайнеров
</div>
<header class="header">
	<div class="header__middle">
		<div class="container">
			<div class="header__logo-wrapper">
				<a href="#" class="logo">
	<svg><use href="./img/sprite.svg#logo"></use></svg>
	<span>Основа Тепло</span>
</a>


				<div class="header-contacts__logo">
					<a href="" class="header-contacts__item">
						<div class="header-contacts__icon header-contacts__icon_viber">
							<svg><use href="./img/sprite.svg#phone"></use></svg>
						</div>
						<span>+38 (098) 552 97 87</span>
					</a>
					<a href="" class="header-contacts__item">
						<div class="header-contacts__icon header-contacts__icon_telegram">
							<svg><use href="./img/sprite.svg#telegram"></use></svg>
						</div>
						<span>+38 (050) 552 97 87</span>
					</a>
				</div>
			</div>

			<div class="header-info">
				<div class="header-info_icon">
					<svg><use href="./img/sprite.svg#support"></use></svg>
				</div>
				<div class="header-info__wrapper">
					<div class="header-info__text">Пн-Вс 09.00 до 21.00</div>
					<div class="header-info__caption">без выходных</div>
				</div>
			</div>
			<div class="header-info">
				<div class="header-info_icon">
					<svg><use href="./img/sprite.svg#box"></use></svg>
				</div>
				<div class="header-info__wrapper">
					<div class="header-info__text">Прием заказав</div>
					<div class="header-info__caption">круглосуточно</div>
				</div>
			</div>
			<div class="header-contacts">
				<a href="" class="header-contacts__item">
					<div class="header-contacts__icon header-contacts__icon_viber">
						<svg><use href="./img/sprite.svg#phone"></use></svg>
					</div>
					<span>+38 (098) 552 97 87</span>
				</a>
				<a href="" class="header-contacts__item">
					<div class="header-contacts__icon header-contacts__icon_telegram">
						<svg><use href="./img/sprite.svg#telegram"></use></svg>
					</div>
					<span>+38 (050) 552 97 87</span>
				</a>
			</div>
			<button class="header__discount-btn js-open-discount-form">Получить скидку</button>
			<div class="header-lang">
				<div class="header-lang__toggle js-lang">
					<span> RU </span>
					<svg><use href="./img/sprite.svg#arrow"></use></svg>
				</div>
				<ul class="header-lang__menu">
					<li class="header-lang__item">
						<a href="#" class="header-lang__link">ru</a>
					</li>
					<li class="header-lang__item">
						<a href="#" class="header-lang__link">ua</a>
					</li>
				</ul>
			</div>
			<button class="header__mobile-btn">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<button class="header__mobile-btn-close">
				<svg><use href="./img/sprite.svg#cross"></use></svg>
			</button>
			<div class="header-catalog">
				<div class="header-catalog__toggle">
					<svg>
						<use href="./img/sprite.svg#hamburger"></use>
					</svg>
					<span>категории продукции</span>
				</div>
				<div class="header-catalog__menu">
					<a href="#" class="header-catalog__item">Нагревательные маты</a>
					<a href="#" class="header-catalog__item">Нагревательный кабель в стяжку</a>
					<a href="#" class="header-catalog__item">Тонкий нагревательный кабель</a>
					<a href="#" class="header-catalog__item">Терморегуляторы</a>
					<a href="#" class="header-catalog__item">Инфракрасная пленка</a>
					<a href="#" class="header-catalog__item">Теплый пол под ламинат</a>
					<a href="#" class="header-catalog__item">Сухой монтаж</a>
					<a href="#" class="header-catalog__item">Системы снеготаяния, обогрев труб и водостоков </a>
					<a href="#" class="header-catalog__item">Аквасторож</a>
				</div>
			</div>
			<ul class="header-menu">
				<li class="header-menu__item">
					<a href="" class="header-menu__link">Производители</a>
				</li>
				<li class="header-menu__item">
					<a href="" class="header-menu__link">Расчет стоимости</a>
				</li>
				<li class="header-menu__item">
					<a href="" class="header-menu__link">Доставка и оплата</a>
				</li>
				<li class="header-menu__item">
					<a href="" class="header-menu__link">Терморегуляторы</a>
				</li>
				<li class="header-menu__item">
					<a href="" class="header-menu__link">О нас</a>
				</li>
				<li class="header-menu__item">
					<a href="" class="header-menu__link">Контакты</a>
				</li>
			</ul>
			<div class="header-contacts__mobile">
				<a href="" class="header-contacts__item">
					<div class="header-contacts__icon header-contacts__icon_viber">
						<svg><use href="./img/sprite.svg#phone"></use></svg>
					</div>
					<span>+38 (098) 552 97 87</span>
				</a>
				<a href="" class="header-contacts__item">
					<div class="header-contacts__icon header-contacts__icon_telegram">
						<svg><use href="./img/sprite.svg#telegram"></use></svg>
					</div>
					<span>+38 (050) 552 97 87</span>
				</a>
			</div>
		</div>
	</div>
</header>
<div class="header__backdrop"></div>
<form class="header-discount-form">
	<div class="header-discount-form__sticker header-discount-form__sticker_yellow">10%</div>
	<button class="header-discount-form__cls-btn js-close-discount-form">
		<svg><use href="./img/sprite.svg#cross_2"></use></svg>
	</button>
	<div class="header-discount-form__title">
		СКИДКА <br />
		на всю продукцию
	</div>
	<div class="header-discount-form__subtitle">
		Заполните форму и получите скидку в розмере 10% на <br />
		всю продукцию магазина
	</div>
	<div class="input">
		<input type="text" placeholder="Имя" />
	</div>
	<div class="input">
		<input type="text" placeholder="Ваш телефон" />
	</div>
	<button type="submit" class="btn-red btn-primary header-discount-form__submit">ПОЛУЧИТЬ СКИДКУ</button>
</form>
