<div class="manufacturer @@manufacturer-modifier">
	<div class="manufacturer__decoration manufacturer__decoration_1">
		<svg><use href="./img/sprite.svg#decoration_7"></use></svg>
	</div>
	<div class="manufacturer__decoration manufacturer__decoration_2">
		<svg><use href="./img/sprite.svg#decoration_8"></use></svg>
	</div>
	<div class="container">
		<div class="section-title @@title-modifier">@@title</div>
		<div class="row center-lg center-md center-sm center-xs">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-1.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-2.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-3.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border">
					<img src="./img/manufacturer-img-4.png" alt="img" />
				</div>
			</div>

			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-5.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-6.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-7.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border">
					<img src="./img/manufacturer-img-8.png" alt="img" />
				</div>
			</div>

			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-9.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-19.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-11.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border">
					<img src="./img/manufacturer-img-12.png" alt="img" />
				</div>
			</div>

			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-13.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-14.png " alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card">
					<img src="./img/manufacturer-img-15.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border">
					<img src="./img/manufacturer-img-18.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border-bottom manufacturer-card_left-border">
					<img src="./img/manufacturer-img-17.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border-bottom">
					<img src="./img/aqua.png" alt="img" />
				</div>
			</div>
			<div class="col-lg-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<div class="manufacturer-card manufacturer-card_no-border-bottom">
					<img src="./img/works.png" alt="img" />
				</div>
			</div>
		</div>
	</div>
</div>
