<div class="blog-card">
	<div class="blog-card__img">
		<div class="blog-card__date">19.05.2021</div>
		<div class="img">
			<picture>
				<source srcset="./img/blog-img-1_tablet.jpg" media="(min-width: 768px) and (max-width: 1199px)" />
				<source srcset="./img/blog-img-1_mobile.jpg" media="(max-width: 767px)" />
				<img src="./img/blog-img-1.jpg" alt="img" />
			</picture>
		</div>
	</div>
	<div class="blog-card-text">
		<div class="title-3">Какой выбрать тёплый пол. Честный рейтинг</div>
		<p>
			Доброго времени суток дорогие читатели. Для начала хотел бы представиться, моё имя Степан, я являюсь экспертом по электрическим теплым
			полам в интернет магазине «Основа-Тепло» heatingfloor.com.ua Доброго времени суток дорогие читатели. Для начала хотел бы представиться
		</p>
		<a href="#" class="btn-primary btn-red btn-size-4">Читать статью</a>
	</div>
</div>
